<%- include('./comunes/cabecera.ejs') %>


<div style="height: 600px;
    /*width: 90%;*/
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ionos.es%2Fdigitalguide%2Fservidores%2Fknow-how%2Fque-es-una-red-de-ordenadores%2F&psig=AOvVaw3wNOz6j9KYW0yLMNgnjo44&ust=1633076774804000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKjRwZujpvMCFQAAAAAdAAAAABAJ');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    box-sizing: border-box;  ">

</div>


<%- include('./comunes/footer.ejs') %>