<%- include('../comunes/cabecera.ejs') %>



<div class='container'>
    <% const existeMensaje = typeof datos.mensaje !== 'undefined' %>
    <% if(existeMensaje){ %>
        <div class="alert alert-success" role="alert">
            <%= datos.mensaje %>
        </div>
    <%}%>

    <h1>Agregar fruta</h1>
    <form action='/fruta/agregar-fruta-formulario' method='post'>
        <div class="mb-3">
            <label for="nombre" class="form-label">
                Marca*
            </label>
            <input placeholder="Ej: manzana"
                   type="text"
                   name="nombre"
                   class="form-control"
                   id="nombre"
                   aria-describedby="ayudaMarca">
            <div id="ayudaMarca" class="form-text">
                Ingrese la el nombre de la fruta.
            </div>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">
                Precio*
            </label>
            <input placeholder="Ej: 9.50"
                   type="text"
                   name="precio"
                   class="form-control"
                   id="precio"
                   aria-describedby="ayudaPrecio">
            <div id="ayudaPrecio" class="form-text">
                Ingrese el precio de la fruta.
            </div>
        </div>
        <div class="mb-3">
            <label for="comestible" class="form-label">
                Comestible
            </label>
            <select name="comestible"
                    class="form-control"
                    id="comestible"
                    aria-describedby="ayudaComestible">
                <option value="true">Comestible</option>
                <option value="false">No comestible</option>
            </select>
            <div id="ayudaComestible" class="form-text">
                ¿La fruta es comestible?
            </div>
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">
                Cantidad*
            </label>
            <input placeholder="Ej: 25"
                   type="text"
                   name="cantidad"
                   class="form-control"
                   id="cantidad"
                   aria-describedby="ayudaCantidad">
            <div id="ayudaCantidad" class="form-text">
                Ingrese la cantidad.
            </div>
        </div>
        <button type="submit" class="btb btn-primary w-100">Agregar</button>
    </form>
</div>

<%- include('../comunes/footer.ejs') %>